:root {
  --primary-font-stack: 'Roboto';
  --grey-color: #555252;
  --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-time: 250ms;
}

body {
  margin: 0px;
}
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  font-family: 'Open Sans';
  min-height: 95px;
}

/*menu-section*/

.top-header {
  background-color: #1abc9c;
  font-family: 'Open Sans';
  font-weight: 300;
}

.active-menu {
  display: flex;
  padding-top: 17px;
  padding-bottom: 11px;
}
.contact {
  display: flex;
  margin: 0;
}

.contact .tel-icon {
  padding-right: 15px;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 11px;
  color: #fefefe;
}

.contact .mail-icon {
  padding-left: 15px;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 11px;
  color: #fefefe;
}

.tel-icon::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(../images/tell.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.mail-icon::before {
  padding-left: 10px;
  content: '';
  display: inline-block;
  width: 20px;
  height: 15px;
  background-image: url(../images/mail.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.tel-icon:hover,
.tel-icon:focus {
  color: #515151;
}

.mail-icon:hover,
.mail-icon:focus {
  color: #515151;
}

.info-menu {
  display: flex;
  margin-left: auto;
  text-decoration: none;
}

.info-link {
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  line-height: 11px;
  color: #fefefe;
  font-family: 'Open Sans';
  font-weight: 300;
}

.info-link:hover,
.info-link:focus {
  color: #515151;
}

/*nav*/

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.site-logo {
  font-family: 'Roboto';
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 42px;
  padding-bottom: 15px;
  text-decoration: none;
  color: #212121;
  font-size: 30px;
  line-height: 1;
  text-decoration: none;
  animation-name: slideInLeft;
  animation-duration: 2000ms;
  animation-timing-function: var(--timing-fn);
}
.site-logo::first-letter {
  font-family: 'Roboto';
  color: #1abc9c;
}
.site-nav {
  display: flex;
  margin-left: auto;
}
.page-nav {
  display: flex;
  align-items: center;
  font-family: 'Open Sans';
  font-weight: 700;
}

.site-nav .link {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 42px;
  padding-bottom: 15px;
  text-decoration: none;
  color: #212121;
  font-size: 14px;
  line-height: 0.7;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #1abc9c;
}
/*banner*/
.top {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    url(../images/girls.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.banner {
  position: relative;
  padding-top: 194px;
  min-height: 602px;
}
.banner-text {
  margin-top: 0;
  margin-bottom: 17px;
  font-size: 48px;
  letter-spacing: -1px;
  color: #fffcfc;
  font-family: 'Roboto';
  font-weight: 300;
  text-align: center;
}
.green {
  color: #1abc9c;
}
.banner-link {
  display: block;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 120px;
  height: 42px;
  background-color: #1abc9c;
  border: 2px solid #1abc9c;
  font-size: 14px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}
/*about*/

.about {
  padding-top: 93px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-list {
  display: flex;
}

.about-list-list:last-child {
  margin-right: 0;
}
.about-list-list {
  text-align: center;

  margin-right: 30px;
}

.about-title {
  margin-top: 0;
  font-size: 18px;
  line-height: 32px;
  color: #555252;
  font-family: 'Open Sans';
  font-weight: 600;
}
.about-text {
  margin-top: 0;
  font-size: 14px;
  line-height: 24px;
  color: #555252;
  font-family: 'Open Sans';
  font-weight: 300;
}
.icon-1::before {
  display: inline-block;
  width: 66px;
  height: 66px;
  content: '';
  background-image: url(../images/sun.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon-2::before {
  display: inline-block;
  width: 66px;
  height: 66px;
  content: '';
  background-image: url(../images/tv.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon-3::before {
  display: inline-block;
  width: 66px;
  height: 66px;
  content: '';
  background-image: url(../images/world.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon-4::before {
  display: inline-block;
  width: 66px;
  height: 66px;
  content: '';
  background-image: url(../images/compas.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/*new collection*/

.new-collection {
  padding-top: 93px;
  padding-bottom: 92px;
  background-color: #e9f0fd;
  min-height: 676px;
  text-align: center;
}
.overlay {
  position: relative;
  height: 100%;
  width: 100%;
}
.overlay::before {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 255px;
  height: 283px;
  content: '';
  background-color: rgba(0, 0, 0, 0.55);
  background-clip: padding-box;
}
.new-link:hover .overlay::before {
  display: block;
}

.new-list {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.new-snap {
  display: flex;
  width: 255px;
  margin-right: 30px;
  flex-basis: calc(50%-23px);
  flex-grow: 0;
}
.new-snap:last-child {
  margin-right: 0;
}

.new-link {
  display: flex;
  align-items: flex-end;
  width: 255px;
  height: 325px;
  text-decoration: none;
}

.green-line::after {
  display: block;
  justify-content: center;
  padding-top: 50px;
  content: '';
  background-image: url(../images/border.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.new-link:hover .description {
  background-color: #1abc9c;
}
.new-link:hover .cost {
  background-color: #7fd9c7;
}

/*section1*/

.overlay-button {
  width: 170px;
  position: absolute;
  top: 30%;
  right: 15%;
  z-index: 100;
  opacity: 0;
}

.button-icon-heart {
  background-image: url(../images/icons/heart.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  background-color: rgba(0, 0, 0, 0);
}

.button-icon-heart:hover {
  background-color: #1abc9c;
}
.button-icon-random:hover {
  background-color: #1abc9c;
}
.button-icon-clock:hover {
  background-color: #1abc9c;
}
.button-icon-random {
  background-image: url(../images/icons/random.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  background-color: rgba(0, 0, 0, 0);
}
.button-icon-clock {
  background-image: url(../images/icons/clock.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  background-color: rgba(0, 0, 0, 0);
}

.button-icon-cart {
  width: 158px;
  height: 50px;
  border: 1px solid #ffffff;
  font-size: 14px;
  line-height: 32px;
  color: #ffffff;
  font-family: 'Open Sans';
  font-weight: 400;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}
.button-icon-cart::before {
  margin-right: 10px;
  display: inline-block;
  content: '';
  background-image: url(../images/icons/cart.png);
  width: 37px;
  height: 29px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.button-icon-cart:hover {
  background-color: #323232;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.overlay {
  position: relative;
}
.overlay::before {
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  width: 215px;
  height: 240px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.snap-list-link:hover .overlay::before {
  display: block;
}

.snap-list-link:hover .overlay-button {
  opacity: 1;
}

.card {
  padding-top: 93px;
  padding-bottom: 92px;
  font-family: 'Roboto';
  /*margin-bottom: 105px;*/
}

.snap-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.title {
  margin: 0;
  margin-bottom: 117px;
  color: #515151;
  font-size: 48px;
  line-height: 0.6;
  text-align: center;
  font-family: 'Roboto';
}
.snap-list-item {
  display: flex;
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 3-30px);
  flex-grow: 0;
}

.snap-list-item:nth-child(4n) {
  margin-right: 0;
}
.snap-list-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.snap-list-link {
  display: flex;
  align-items: flex-end;
  width: 255px;
  height: 320px;
  text-decoration: none;
}
.image {
  width: 255px;
  height: 321px;
  position: absolute;
}
.description {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 32px;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 900;
  background-color: #323232;
  display: flex;
  align-items: center;
  margin: 0px;
  padding-left: 15px;
  width: 200px;
  height: 40px;
  font-size: 18px;
}

.media {
  position: absolute;
  display: flex;
}

.cost {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8c8c8c;
  width: 55px;
  height: 40px;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 18px;
  width: 54px;
  height: 40px;
  color: #ffffff;
}

.snap-list-link:hover .description {
  background-color: #1abc9c;
}
.snap-list-link:hover .cost {
  background-color: #7fd9c7;
}

/*section2*/

.section {
  padding-top: 93px;
  padding-bottom: 92px;
  background-color: #e9f0fd;
}
.news {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.news .title-news {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Open Sans';
  color: var(--grey-color);
  font-size: 18px;
  line-height: 1.4;
  color: #555252;
}
.news .description-text {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: 'Open Sans';
  font-weight: 400;
  color: var(--grey-color);
  font-size: 14px;
  line-height: 1.8;
}
.news-list-item {
  margin-bottom: 97px;
  flex-basis: calc(100% / 3-20px);
  margin-right: 30px;
  flex-grow: 0;
  width: 350px;
}

.news-list-item:nth-child(3n) {
  margin-right: 0;
}

.line::after {
  display: flex;
  padding-bottom: 20px;
  content: url(../images/line.png);
}

/*links-news*/

.link-news {
  width: 160px;
  border-radius: 3px;
  filter: drop-shadow(1px 1.732px 2.5px rgba(0, 0, 0, 0.39));
  background-color: #4ec6ab;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 26px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.link-news:hover,
.link-news:focus {
  background-color: #7cf0d9;
}

/*footer*/
.white-line::after {
  padding-top: 23px;
  display: flex;
  justify-content: center;
  content: url(../images/white..png);
}
.form {
  width: 540px;
  border: 1px solid white;
  background-color: white;
  border-radius: 5px;
}
.container-form {
  display: flex;
  justify-content: center;
}
.footer {
  padding-top: 93px;
  padding-bottom: 92px;
  background-image: url(../images/footer.jpg);
}
.footer-text {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #ffffff;
  font-family: 'Open Sans';
  font-weight: 300;
  text-align: center;
}
.footer-button {
  position: absolute;
  background-image: url(../images/enter.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  width: 89px;
  height: 60px;
  border-radius: 5px;
  background-color: #4ec6ab;
}
.footer-input {
  position: relative;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #555252;
  font-family: 'Open Sans';
  font-weight: 300;
  width: 445px;
  height: 60px;
  border-radius: 5px;
  background-color: #ffffff;
}
.footer-button:hover,
.footer-button:focus {
  background-color: #7cf0d9;
}
